<!DOCTYPE html>
<html>
<head>
    <title>PG Details</title>
</head>
<body>

<h1>{{ pg[2] }}</h1>

{% if pg[7] %}
<img src="/uploads/{{ pg[7] }}" width="500" height="300">
{% endif %}

<hr>

<h3>📍 Location</h3>
<p>{{ pg[3] }}</p>

<h3>💰 Rent</h3>
<p>₹{{ pg[4] }} / Month</p>

<h3>👥 Gender</h3>
<p>{{ pg[5] }}</p>

<h3>🛏 Total Rooms</h3>
<p>{{ pg[8] }}</p>

<h3>✅ Available Rooms</h3>
<p>{{ pg[9] }}</p>

<h3>📝 Description</h3>
<p>{{ pg[6] }}</p>

<hr>

{% if pg[9] > 0 %}
    <a href="/book/{{ pg[0] }}">
        <button>Book Now</button>
    </a>
{% else %}
    <h2 style="color:red;">❌ Fully Occupied</h2>
{% endif %}

<br><br>

<a href="/pgs">⬅ Back to PG List</a>

</body>
</html>