<h2>Search PG</h2>

<form method="GET" action="/pgs">

    <input type="text"
           name="location"
           placeholder="Location">

    <select name="gender">
        <option value="">All</option>
        <option value="Boys">Boys</option>
        <option value="Girls">Girls</option>
        <option value="Both">Both</option>
    </select>

    <input type="number"
           name="rent"
           placeholder="Max Rent">

    <button type="submit">
        Search
    </button>

</form>

<hr>